$bg-color: #2b2b2c;
$bg-color-opacity: #2b2b2c77;
$sub-bg-color: #2f2f31;
$sub-bg-color-opacity: #2f2f31a4;
$sub-alt-bg-color: #36363d;
$sub-alt-bg-color-opacity: #36363da6;
$split-color: #40404a;
$scrollbar-color: #494955;

$header-color: #76689a;
$sub-header-color: #675a86;
$option-color: #6a6a81;
$option-color-light: #8181a0;
$sub-alt-header-color: #9494b8;
$version-color: #9787bd;

$hotkeyInput-bg-color: #7d7d9b;
$hotkeyInput-bg-color-shadow: #68687c;
$hotkeyInput-color: #adbcd8;
$hotkeyInput-color-opacity: #adbcd88a;
$hotkeyInput-bg-color-dark: #5f5f79;
$hotkeyInput-bg-color-shadow-dark: #4d4d5f;

$hotkeyInput-bg-color-red: #9e5454;
$hotkeyInput-bg-color-shadow-red: #783d3d;
$hotkeyInput-color-red: #d8adad;

$hotkeyInput-bg-color-green: #77c468;
$hotkeyInput-color-green: #a1dda1;

$text-color: #ffe7dc;
$text-color-darken: #8087aa;
$text-color-dark: #f0dcd3;
$text-color-default: #cebcb4;

$nbar-btn-bg-color: #313135;
$nbar-btn-bg-color-hover: #313135;

$roundness: 5px;
$padding: 10px;
$padding-less: $padding / 2;

$delay: 100ms;
$pageDelay: 300ms;

$checkbox-width: 70px;
$checkbox-height: 25px;
$slider-size: 28px;
$input-width: 130px;