@import "keyframes";

@mixin appear($delay) {
    animation: appear $delay forwards;
}

@mixin disappear($delay) {
    animation: disappear $delay forwards;
}

@mixin text($color, $size, $weight) {
    color: $color;
    font-size: $size;
    font-weight: $weight;
}

@mixin stroke($color) {
    text-shadow: $color 4px 0px 0px, $color 3.87565px 0.989616px 0px, $color 3.51033px 1.9177px 0px, $color 2.92676px 2.72655px 0px, $color 2.16121px 3.36588px 0px, $color 1.26129px 3.79594px 0px, $color 0.282949px 3.98998px 0px, $color -0.712984px 3.93594px 0px, $color -1.66459px 3.63719px 0px, $color -2.51269px 3.11229px 0px, $color -3.20457px 2.39389px 0px, $color -3.69721px 1.52664px 0px, $color -3.95997px 0.56448px 0px, $color -3.97652px -0.432781px 0px, $color -3.74583px -1.40313px 0px, $color -3.28224px -2.28625px 0px, $color -2.61457px -3.02721px 0px, $color -1.78435px -3.57996px 0px, $color -0.843183px -3.91012px 0px, $color 0.150409px -3.99717px 0px, $color 1.13465px -3.8357px 0px, $color 2.04834px -3.43574px 0px, $color 2.83468px -2.82216px 0px, $color 3.44477px -2.03312px 0px, $color 3.84068px -1.11766px 0px, $color 3.9978px -0.132717px 0px;
}